@import "tailwindcss";
@config "../../tailwind.config.js";

@import "@fontsource/raleway/100.css";
@import "@fontsource/raleway/200.css";
@import "@fontsource/raleway/300.css";
@import "@fontsource/raleway/400.css";
@import "@fontsource/raleway/500.css";
@import "@fontsource/raleway/600.css";
@import "@fontsource/raleway/700.css";
@import "@fontsource/raleway/800.css";
@import "@fontsource/raleway/900.css";

@layer base {
    html, body {
        font-family: "Raleway", sans-serif !important;
        min-height: 100vh;
        @apply bg-base-100 text-base-content;
    }
}

.header-main {
    height: 5rem; /* 80px */
    position: fixed;
    top: 0;
    right: 0;
    left: 16rem; 
    width: calc(100% - 16rem);
    z-index: 40;
    background-color: var(--fallback-b1, oklch(var(--b1)));
    @apply border-b border-base-300 transition-all duration-300;
}

.main-content {
    margin-left: 16rem;
    padding-top: 5rem; 
    min-height: 100vh;
    display: block;
    position: relative;
    @apply transition-all duration-300;
}

.content-wrapper {
    @apply p-6 lg:p-10;
}

@media (max-width: 1024px) {
    .header-main {
        left: 0;
        width: 100%;
    }
    .main-content {
        margin-left: 0;
        padding-top: 5rem;
    }
}

[x-cloak] { display: none !important; }

/* Estilização da Scrollbar Premium */
.custom-scrollbar::-webkit-scrollbar {
    width: 5px; /* Bem fininha */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Fundo invisível */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1); /* Cor suave */
    border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.2);
}

/* Para Firefox */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
}

/* No Modo Dark (se aplicável) */
[data-theme='dark'] .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
}